//= require ./math_buttons

@import "math_buttons";

$scalar: 1.0;
$scalar: 0.8;

$cursor-color: #aaa;


#eb_wrapper {
    margin-bottom: 20px;
}

div.equation-builder-location {
    margin-bottom: 20px;
}

$equation-builder-border-radius: 4px;
$cursor-color: #aaa;

div.ttm-equation-builder {
    font-family: arial;
    width: 622px;
    position: relative;
    clear: both;
    // sizing, margins, positions for entire equation builder
    div.equation-builder-main {
        border: 1px solid black;
        overflow: hidden;
        padding-bottom: 10px;
        position: relative;
        .usage-activator {
            position: absolute;
            bottom: 0;
            left: 0;
            color: white;
            padding-bottom: 10px;
            padding-left: 10px;
        }

        figure.mathml-display.equation-display {
            margin: auto;
            margin-bottom: 14px;
            margin-top: 10px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            width: 95%;
            text-align: right;
            font-size: 1.3em;
            font-size: 2.3em;
            min-height: 35px;
            padding: 1px 8px 8px 1px;
            padding-top: 10px;
            border: 1px solid black;
        }

        // sizing, margins, positioning
        $margin: 2.5%;

        &> div > p {
            margin-top: 0px;
            font-size: 0.9em;
        }

        div.explanatory-table, div.component-panel, div.variable-panel, div.control-panel
        {
            float: left;
            margin-left: $margin;
        }

        div.explanatory-table{
            width: 42%;
            table {
                width: 100%;
                td,th,tr {
                    border: 1px solid black;
                }
            }

        }

        div.component-panel{
            width: 53%;

            p {
                margin-left: 10px;
                width: 90%;
            }

            div.variable-panel
            {
                width: 46%;
                button {
                    width: 100%;
                    clear: both;
                    min-height: 43px;
                    height: auto;
                }
            }

            div.control-panel
            {
                margin-left: 25px;
                width: 41%;
            }


        }

        @include math-button-sizing($scalar);

        button.math-button.equal {
            width: 85px;
        }
        button.math-button.clear {
            width: 130px;
            font-size: 20px * $scalar !important;
        }
        button.math-button.del {
            font-size: 1.1em;
        }

        button.math-button.negative-slash-positive {
            font-size: 20px;
        }

        .cursor-location {
            border-right: 2px solid transparent;
        }
        .cursor-location:hover {
            border-right: 2px solid $cursor-color;
        }

        .has-cursor-right {
            border-right: 2px solid transparent;
        }

        .has-cursor-right-active {
            border-right: 2px solid $cursor-color;
        }

        .has-cursor-show-left {
            border-left: 2px solid $cursor-color;
        }

        .has-cursor-left {
            border-left: 2px solid transparent;
        }
        .has-cursor-left-active {
            border-left: 2px solid $cursor-color;
        }

    }

    div.equation-builder-extra-buttons {
        padding-right: 2.5%;
        & > div.advanced, & > div.numbers {
            float: right;
            width: 25%;
            text-align: right;
            margin-right: 8px;

            .buttons {
                padding: 2.5%;
                display: none;
                .buttons-wrap {
                    margin: 2.5%;
                }
            }

            .link-wrap {
                width: 100%;
                a {
                    display: block;
                    float: right;
                    width: 60%;
                    padding: 4px;
                }
            }
        }

        div.number-panel {
            text-align: left;
            position: relative;
            right: -4px;
            @include math-button-sizing($scalar);
        }

        div.advanced-panel {
            text-align: center;
            @include math-button-sizing($scalar);
            button {
                width: 45%;
            }
        }
    }




    .usage-activator a {
        color: white;
        img.info-icon {
            display: inline-block;
            margin-right: 10px;
        }
    }

    div.equation-builder-extra-buttons {
        padding-right: 2.5%;
        & > div.advanced, & > div.numbers {
            border: 1px solid black;
            .buttons {
                display: none;
            }

            .link-wrap {
                a {
                    color: black;
                    outline: 0;
                    text-transform: uppercase;
                    text-align: center;
                }
                a:hover {
                    text-decoration: none;
                }
            }
        }

        div.number-panel {
            p {
                color: white;
            }
        }
    }
}


$background_color: #444;

.ttm-equation-builder-themed {
    div.ttm-equation-builder {
        // styling, colors, etc
        button.number, button.operation, button.function, button.number-specifier, button.other {
            @include math-button-gray;
        }

        button.variable {
            @include math-button-orange;
        }

        button.clear, button.equal {
            @include math-button-blue;
        }

        div.equation-builder-main {
            background-color: $background_color;
            border-radius: $equation-builder-border-radius;
            border: 1px double $other_border;


            figure.equation-display {
                background-color: white;
                border-radius: $equation-builder-border-radius;
                -webkit-box-shadow: inset 0 0 5px $box_shadow_color;
                -moz-box-shadow: inset 0 0 5px $box_shadow_color;
                box-shadow: inner 0 0 5px $box_shadow_color;
                font-size: 2.3em;
                padding: 1px 8px 8px 1px;
                text-align: right;
                white-space: nowrap;
            }

            // display tweaks, coloring, etc
            div.explanatory-table{
                table {
                    background-color: white;
                    thead{
                        background-color: #d5d5d5;
                        color: #444444;
                    }
                    th, td {
                        // I don't consider these tweeks to be part of
                        // the above mentioned stuff because
                        border-width: 1px;
                        border-style: solid;
                        border-color: #cccccc !important;
                        min-height: 40px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }

            &> div > p {
                color: white;
            }
        }


        $background: #545757;
        $radius: 4px;

        div.equation-builder-extra-buttons {
            padding-right: 2.5%;
            & > div.advanced, & > div.numbers {
                border: 0px solid black;
                .buttons {
                    background-color: $background;
                    display: none;
                    border-radius: 0 0 0 $radius;
                    .buttons-wrap {
                    }
                }

                .link-wrap {
                    a {
                        background-color: $background;
                        color: white;
                        outline: 0;
                        text-transform: uppercase;
                        text-align: center;
                        border-radius: 0 0 $radius $radius;
                    }
                    a:hover {
                        text-decoration: none;
                    }
                }
            }

            div.number-panel {
                p {
                    color: white;
                }
            }
        }
    }
}







div.equation-builder-usage-dialog
{
    ul {
        margin: 10px;
        li {
            margin-bottom: 15px;
        }
    }
    blockquote {
        background-color: #ddd;
        padding: 10px;
    }
}










