.javascript-calculator {
    font-family: arial;
    padding: 0px;
    width: 239px;
    width: 224px;
    height: 344px;
    padding: 7px;
    border: 1px solid black;

    .calculator {
      .ie & {
        height: 354px;
      }
    }

    .calculator-display {
        font-size: 2.3em;
        height: 45px;
        margin: auto;
        margin-bottom: 14px;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 1px 8px 8px 1px;
        text-align: right;
        white-space: nowrap;
        width: 210px;
        border: 1px solid black;

        .expression-to-string-pi {
            font-style: italic;
            font-family: "Times New Roman", serif;
        }
        .ie & {
            height: 45px;
        }
    }

    .math-button {
        font-size: 25px * $scalar;
        width: 50px * $scalar;
        height: 40px * $scalar;
        margin: 3px * $scalar;

        &.clear {
            font-size: 8px * $scalar;
        }

        &.fraction {
            position: relative;
            padding: 0px;

            .numerator, .denominator, .vinculum {
                margin: 0px;
                position: absolute;
                font-size: 15px * $scalar;
                width: 100%;
            }

            .numerator {
                top: -1px;

                .ie8 & {
                    top: -17px;
                }
            }

            .denominator {
                top: 18.5px * $scalar;

                .ie8 & {
                    top: 0 * $scalar;
                }
            }

            .vinculum {
                font-size: 28px * $scalar;
                top: 1.5px * $scalar;

                .ie8 & {
                    top: -18px * $scalar;
                }
                .ie9 & {
                    top: 2px * $scalar;
                }
            }
        }
    }

    .ui-dialog-title {
        color: white;
        display: inherit;
        text-align: center;
        width: 100%;
        font-weight: normal;
        margin-top: 5px;
        text-transform: uppercase;
    }

    .ui-dialog-titlebar {
        background: transparent !important;
        border-radius: $calculator_border_radius;
    }

    .ui-dialog-content {
        background: transparent !important;
        padding: 0px !important;
    }

    .ui-dialog-titlebar-close {
        background: image-url('widgets/calculator_close.png') no-repeat !important;
        border: 0px !important;
        padding: 0px;
        right: -4px;
        top: 14px;

        .ui-icon {
            background: transparent !important;
        }
    }

    /* // overrriding things from jquery ui */
    /* & > * { */
    /*     border: 0px !important; */
    /* } */
}
