@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'javascript-calculator-icons';
  src:url('/fonts/javascript-calculator-icons.eot');
  src:url('/fonts/javascript-calculator-icons.eot?#iefix') format('embedded-opentype'),
    url('/fonts/javascript-calculator-icons.ttf') format('truetype'),
    url('/fonts/javascript-calculator-icons.woff') format('woff'),
    url('/fonts/javascript-calculator-icons.svg#javascript-calculator-icons') format('svg');
}

.javascript-calculator {
    width: 224px;
    height: 344px;
    padding: 7px;
    border: 1px solid black;
    font-family: arial;

    .calculator {
      .ie & {
        height: 354px;
      }
    }

    .calculator-display {
        width: 210px;
        height: 45px;
        margin: auto auto 14px;
        padding: 1px 8px 8px 1px;
        border: 1px solid black;
        overflow-x: auto;
        overflow-y: hidden;
        font-size: 2.3em;
        text-align: right;
        white-space: nowrap;

        .expression-to-string-pi {
            font-style: italic;
            font-family: "Times New Roman", serif;
        }
    }

    .math-button {
        width: 50px * $scalar;
        height: 40px * $scalar;
        margin: 3px * $scalar;
        padding: 0px;
        border: 1px solid;
        font-size: 25px * $scalar;
        font-family: "javascript-calculator-icons", sans-serif;
        text-align: middle;
        vertical-align: top;

        &.clear {
            font-size: 8px * $scalar;
            text-transform: uppercase;
        }
        &.fraction {
            position: relative;

            .numerator,
            .denominator,
            .vinculum {
                position: absolute;
                width: 100%;
                margin: 0px;
                font-size: 15px * $scalar;
            }

            .numerator {
                top: -1px;

                .ie8 & {
                    top: -17px;
                }
            }

            .denominator {
                top: 18.5px * $scalar;

                .ie8 & {
                    top: 0;
                }
            }

            .vinculum {
                top: 1.5px * $scalar;
                font-size: 28px * $scalar;

                .ie8 & {
                    top: -18px * $scalar;
                }
                .ie9 & {
                    top: 2px * $scalar;
                }
            }
        }
        &:focus{
            outline: none;
        }
        .math-variable {
            font-style: italic;
            font-family: "Times New Roman", serif;
        }
    }

    .ui-dialog-title {
        display: inherit;
        width: 100%;
        margin-top: 5px;
        color: white;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
    }

    .ui-dialog-titlebar {
        border-radius: $calculator_border_radius;
        background: transparent !important;
    }

    .ui-dialog-content {
        padding: 0px !important;
        background: transparent !important;
    }

    .ui-dialog-titlebar-close {
        top: 14px;
        right: -4px;
        padding: 0px;
        border: 0px !important;
        background: image-url('widgets/calculator_close.png') no-repeat !important;

        .ui-icon {
            background: transparent !important;
        }
    }

    /* // overrriding things from jquery ui */
    /* & > * { */
    /*     border: 0px !important; */
    /* } */
}
