@font-face {
  font-family: 'javascript-calculator-icons';
  src:url('/fonts/javascript-calculator-icons.eot');
  src:url('/fonts/javascript-calculator-icons.eot?#iefix') format('embedded-opentype'),
    url('/fonts/javascript-calculator-icons.ttf') format('truetype'),
    url('/fonts/javascript-calculator-icons.woff') format('woff'),
    url('/fonts/javascript-calculator-icons.svg#javascript-calculator-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.math-button {
    border: 1px solid;
    text-align: middle;
    vertical-align: top;
    font-family: javascript-calculator-icons, sans-serif;
}

.math-button {
    &.clear {
        text-transform: uppercase;
    }

    &:focus{
        outline: none;
    }

    .math-variable {
        font-family: "Times New Roman", serif;
        font-style: italic;
    }
}
