.jc {
    @include clearfix;
    width: 224px;
    padding: 7px;
    border: 1px solid black;
}

.jc--display {
    display: block;
    margin: 0 0 14px;
    padding: 1px 8px 8px 1px;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 37px;
    text-align: right;
    white-space: nowrap;
    font-family: "javascript-calculator-icons";

    // Equation Builder
    // .expression-to-string-pi {
    //     font-style: italic;
    //     font-family: "Times New Roman", serif;
    // }
}

.jc--button {
    width: 50px * $scalar;
    height: 40px * $scalar;
    margin: 3px * $scalar;
    padding: 0px;
    font-size: 25px * $scalar;
    vertical-align: top;
    font-family: "javascript-calculator-icons", sans-serif;

    &:focus {
        outline: none;
    }
}

// Button Modifiers
.jc--button-clear {
    font-size: 8px * $scalar;
    text-transform: uppercase;
}
