.javascript-calculator-themed {
    .javascript-calculator {
        text-shadow: 1px 1px 1px #222;
        border-radius: $calculator_border_radius;
        -webkit-box-shadow: 0 0 5px $box_shadow_color;
        -moz-box-shadow: 0 0 5px $box_shadow_color;
        box-shadow: 0 0 5px $box_shadow_color;

        background-color: $background_color;
    }

    .calculator-display {
        background-color: white;
        border-radius: $calculator_border_radius;
        -webkit-box-shadow: inset 0 0 5px $box_shadow_color;
           -moz-box-shadow: inset 0 0 5px $box_shadow_color;
                box-shadow: inner 0 0 5px $box_shadow_color;
    }

    .number, .number-specifier, .negative, .decimal {
        @include simple-gradient($math_button_lighter, $math_button_darker);
        border-color: $math_button_border;
        color: white;

        &:hover {
            box-shadow:inset 0 0 10px $math_button_border;
        }
        &:active {
            @include simple-gradient($math_button_darker, $math_button_lighter);
        }
        .ie & {
            color: white;
            border: 1px solid;
            border-color: $math_button_border;
            background-color: $math_button_lighter !important;
            filter: none !important;
        }
    }

    .operation {
        color: white;
        border-color: $operation_border;
        @include simple-gradient($operation_lighter, $operation_darker);

        &:hover {
            box-shadow:inset 0 0 10px $operation_border;
        }

        &:active {
            @include simple-gradient($operation_darker, $operation_lighter);
        }
        .ie & {
            color: white;
            border: 1px solid $operation_border;
            background: $operation_lighter;
            filter: none !important;
        }
    }

    .other {
        @include simple-gradient($other_lighter, $other_darker);
        border-color: $other_border;
        color: white;

        &:hover {
            box-shadow:inset 0 0 10px $other_border;
        }
        &:active {
            @include simple-gradient($other_darker, $other_lighter);
        }
        .ie & {
            border: 1px solid;
            border-color: $other_border;
            background: $other_lighter;
            filter: none !important;
        }
    }
}
