@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'javascript-calculator-icons';
  src: url("fonts/javascript-calculator-icons.eot");
  src: url("fonts/javascript-calculator-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/javascript-calculator-icons.ttf") format("truetype"),
    url("fonts/javascript-calculator-icons.woff") format("woff"),
    url("fonts/javascript-calculator-icons.svg#javascript-calculator-icons") format("svg");
}

.jc {
    border-radius: $calculator_border_radius;
    background-color: $background_color;
    -webkit-box-shadow: 0 0 5px $box_shadow_color;
    -moz-box-shadow: 0 0 5px $box_shadow_color;
    box-shadow: 0 0 5px $box_shadow_color;
}

.jc--display {
    border: 1px solid black;
    border-radius: $calculator_border_radius;
    background-color: white;
    -webkit-box-shadow: inset 0 0 5px $box_shadow_color;
    -moz-box-shadow: inset 0 0 5px $box_shadow_color;
    box-shadow: inner 0 0 5px $box_shadow_color;
}

.jc--button {
    border: 1px solid;
    color: white;
}

.jc--button-number,
.jc--button-numberspecifier,
.jc--button-negative,
.jc--button-decimal {
    @include simple-gradient($math_button_lighter, $math_button_darker);
    border-color: $math_button_border;

    &:hover {
        box-shadow: inset 0 0 10px $math_button_border;
    }
    &:active {
        @include simple-gradient($math_button_darker, $math_button_lighter);
    }
}

.jc--button-operation {
    @include simple-gradient($operation_lighter, $operation_darker);
    border-color: $operation_border;

    &:hover {
        box-shadow: inset 0 0 10px $operation_border;
    }
    &:active {
        @include simple-gradient($operation_darker, $operation_lighter);
    }
}

.jc--button-other {
    @include simple-gradient($other_lighter, $other_darker);
    border-color: $other_border;

    &:hover {
        box-shadow: inset 0 0 10px $other_border;
    }
    &:active {
        @include simple-gradient($other_darker, $other_lighter);
    }
}
