@mixin simple-gradient($start, $end) {
    background: $start; /* Old browsers */
    background: -o-linear-gradient(top,  $start 0%,$end 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $start 0%,$end 100%); /* IE10+ */
    background: -moz-linear-gradient(top,  $start 0%, $end 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  $start 0%,$end 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  $start 0%,$end 100%); /* W3C */
}

@mixin clearfix() {
  *zoom: 1;

  &:before,
  &:after {
      display: table;
      content: " ";
      clear: both;
  }
}

@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
